<meta charset="utf-8">
<center>
	<h1>Tópicos Avançados em Computação</h1>
	<small>Ricardo Inácio Álvares e Silva</small>
</center>
<br>
<center>
	<h1>Alunos: </h1>
	<br>
	<h3>Alan Marrone</h3>
	<br>
	<h3>Matheus Bergonci</h3>
	<br>
	<h3>Rubens Ramalho Neto</h3>
</center>
